<?xml version="1.0"?>

<launch> 
	<!-- 启动roscore -->
	<master auto="start"/>

	
	
	<!-- run ran_defend -->
	<node pkg="sentry" type="ran_defend" name="ran_defend" />##launch-prefix="gnome-terminal -e"
	<!--run cruise-->
	<node pkg="sentry" type="cruise" name="cruise" />##output="screen" launch-prefix="gnome-terminal -e"
	<!--run zhui-->
	<node pkg="sentry" type="zhui" name="zhui"  />##output="screen" launch-prefix="gnome-terminal -e" 
	<!--run coordinates-->
	<!--node pkg="sentry" type="coordinates" name="coordinates" /-->

	<!--run position-->
	<!--node pkg="sentry" type="pos_v1" name="pos_v1"/-->

    	<!--run port_node-->
	<node name="port2_node" pkg="sentry" type="port2_node.py" output="screen" />#launch-prefix="gnome-terminal -e"

	<!--run samch_Chassis2-->
	<node name="smach_Chassis3" pkg="sentry" type="smach_Chassis3.py"/> #output="screen"
	<!-- run key -->
	<node pkg="sentry" type="key2c" name="key2c" />
	
	

</launch>

