<?xml version="1.0"?>

<launch> 
	<!-- 启动roscore -->
	<master auto="start"/>

	
	
	
	<!--run coordinates-->
	<node pkg="sentry" type="coordinates" name="coordinates" />
	
    	<!--run port_node-->
	<node name="port_node" pkg="sentry" type="port_node.py" output="screen" launch-prefix="gnome-terminal -e"/>

	<!--run samch_Chassis2-->
	<node name="smach_Chassis2" pkg="sentry" type="smach_Chassis2.py" output="screen"/>
	<!-- run key1 -->
	<node pkg="sentry" type="key1" name="key1" />
	
	

</launch>

