<?xml version="1.0"?>

<launch> 
	<!-- 启动roscore -->
	<master auto="start"/>

	<!-- run "hkvs_pub -->
	<node pkg="hkvs" type="hkvs_pub" name="hkvs_pub" />
	<!--run tyj-->
	<!--node pkg="hkvs" type="tyj" name="tyj" /-->
	
	<!--run serialfirst-->
	<node name="serialfirst" pkg="hkvs" type="serialfirst.py" />	
	

</launch>

